{% extends "./base.html" %} {% block content %}
<div class="d-flex justify-content-between">
    <h1>List Teman Kelas</h1>
    <a href="{% url 'tambah_teman' %}" class="btn btn-success rounded-xl h-fit"
        ><i class="bi-plus"></i> Tambah Teman</a
    >
</div>
<div class="card-list mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for object in object_list %}
        <div class="col">
            <div class="card d-flex">
                <img
                    src="{{ object.foto.url }}"
                    class="card-img-top"
                    alt="friend image"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ object.nama }}</h5>
                    <p class="card-text">
                        <span>UMUR</span>
                        <br />
                        {{ object.umur }}
                    </p>
                    <p class="card-text">
                        <span>ALAMAT</span>
                        <br />
                        {{ object.alamat }}
                    </p>
                    <a
                        href="{% url 'delete_teman' object.id %}"
                        class="btn-delete"
                    >
                        <i class="bi-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
